torch==2.2.2 
torchvision==0.17.2 
torchaudio==2.2.2 
webdataset>=0.2.5,<=0.2.86
regex
ftfy
tqdm
pandas
braceexpand
huggingface_hub
safetensors
timm
fsspec
einops
tensorboard
omegaconf
timm
transformers==4.49.0
linklink
easydict